.containerCenter {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0f0f1b;
}

.logoWrapper {
  margin-bottom: 32px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 32px;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;

}

.input {
  height: 40px;
  border: 1px solid var(--gray-100);
  padding: 0 12px;
  border-radius: 8px;
  background-color: var(--dark-900);
  color: var(--white);
  font-size: 16px;
}

.button {
  height: 40px;
  font-size: 16px;
  background-color: var(--red-900);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.button:hover {
  background-color: #d62828;
}

.text {
  color: var(--gray-100);
  margin-top: 16px;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.title {
  color: #fff;
}

