.containerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 600px;
}

.form {
  color: var(--white);
  padding-bottom: 16px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 16px;
}

.form button {
  height: 40px;
  font-size: 16px;
}

@media (max-width: 620px) {
  .login {
    width: 90%;
  }
}
