.headerContent {
  max-width: 1280px;
  margin: 0 auto;
  height: 5rem;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    display: flex;
    align-items: center;
    gap: 14px;

    a {
      color: var(--white);
      text-decoration: none;

      &:hover {
        color: var(--red-900);
      }
    }

    button {
      border: 0;
      background: transparent;
      margin-left: 16px;
    }
  }
}
